nav {
    padding: 0 5%;
}

#jumbo {
    margin-top: 5%;
}

h2 {
    font-size: 2.5em;
}
.margen-bajo {
    margin-bottom: 1em;
}

.visible {
    display: block;
}

.izq {
    margin-left: 1em;
}

#carrusel {
    margin-bottom: 5em;
}